<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
     <label for="the_user_apr">
        APR
     </label>
     
       
    
    <input type= "text" name= "the_user_apr" id="the_user_apr" placeholder="E.g 5.42">
        
    <br/>
    
    <label for="the_user_years">
        Number of years
     </label>
     
   
    
    <input type= "text" name= "the_user_years" id="the_user_years" placeholder="How many years to repay?">
    
    <br/>
    
    <label for="the_user_pv">
        Principal
     </label>
    
    <input type= "text" name= "the_user_pv" id="the_user_pv" placeholder="How much principal?">
      <br/>
    </div>
    
    <button>Calculate monthly payment</button>
</form>

